<h1>Consulta Sim</h1>

<h2>Bem vindo, o que deseja fazer?</h2>

<p><%= link_to "Paciente", pacientes_url %></p>
<p><%= link_to "Médico", medicos_url %></p>
<p><%= link_to "Consulta Médica", consultas_url %></p>