<p style="color: green"><%= notice %></p>

<h1>Consultas</h1>

<div id="consultas">
  <% @consultas.each do |consulta| %>
    <%= render consulta %>
    <p>
      <%= link_to "Show this consulta", consulta %>
    </p>
  <% end %>
</div>

<%= link_to "New consulta", new_consulta_path %>
